body {background-color: white; 

font-family:sans-serif; }



h1:before, h1:after {
    size: 1.2em; content:" ♦ "
    
}

h1 {
    
    font-size:1.2 em;
    color: green;
    align-content:center;
}

ul {column-span=align-items:baseline; }

.nobullets {list-style-type:none; }

.amount {
    width:25%; 
    text-align:left;
    display:inline-block;
}

.ingredient {
    width: 60%;
    font-style:italic;
        text-align:left;
    
}

.yield {font-weight:bold; font-style:italic; }

hr {line-height:inherit;
    color: purple;
}
